
.images{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
.images img {
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

#img-container {
    width: 100%;
    height: 50vh;
    border: 1px solid black;

}
