*, ::after, ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 40px;
    text-align: center;
    background-color: beige;
    color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
}

select, input, button {
    background-color:bisque;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
}

#section-container {
    display: flex;
    justify-content: space-around;
    height: 50vh;
}
section {
    width: 100%;
    height: 100%;
    gap: 10px;
    background-color:bisque;
    border: 1px solid black;
}

section h3 {
    text-align: center;
}

#section-container #section2 p {
    height: 33%;
    text-align: center;
    background-color:aquamarine;
}
#section1 span, #section3 span {
    padding-left: 20px;
}